<h3><a href="/stocks">Stocks</a></h3>
<h3><a href="/latest-institutions">Latest Institutions</a></h3>
<h3><a href="/latest-insiders">Latest Insiders</a></h3>
<h3><a href="/investing-latest-news">Investing latest news</a></h3>
<% content_for(:title) do %>
  Welcome!
<% end %>
