<h4><a href="/stocks">Stocks</a></h4>
<h4><a href="/insiders">Insiders</a></h4>
<h4><a href="/latest-institutions">Latest Institutions</a></h4>
<h4><a href="/latest-insider-histories">Latest Insider Histories</a></h4>
<h4><a href="/investing-latest-news">Investing latest news</a></h4>
<% content_for(:title) do %>
  Welcome!
<% end %>
